body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0d0d0d;
}
h1 {
  color: #d3d3d3;
}
table {
  margin-left: auto;
  margin-right: auto;
  background-color: #403D58;
}
.main-header th {
  color: #66D7D1;
}
.images th {
color: #00ffff
}
.mass th {
color: #ff77ff
}
.gravity th {
color: #fff700;
}
.orbital th {
color: #00f9ff;
}
.moons th {
color: #ffa500;
}
.distance th {
color: #39ff14;
}
.rotation th {
color: #ff6f61;
}
.rings th {
color: #7df9ff;
}