body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #0d0d0d;
}
h1 {
  color: #d3d3d3;
}
table {
  margin-left: auto;
  margin-right: auto;
  background-color: #403D58;
  border: 2px solid #8f00ff;
  border-collapse: collapse;
  padding: 10px;
}
.main-header th {
  color: #ff00ff;
}
.images td {
  color: #00ffff;
}
.mass td {
  color: #ff77ff;
}
.gravity td {
  color: #fff700;
}
.orbital td {
  color: #00f9ff;
}
.moons td {
  color: #ffa500;
}
.distance td {
  color: #39ff14;
}
.rotation td {
  color: #ff6f61;
}
.rings td {
  color: #7df9ff;
}